
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid hsl(0, 0%, 87%);
      }
      
      th, td {
        text-align: left;
        padding: 16px;
      }
      
    //   th, td:end {
    //     border: 1px solid rgb(50, 7, 7);
    //   }
      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }
      .table-reports{
        margin-top: 1rem;
        z-index: 0;
        width: 88%;
        margin-left:6%;
        margin-right:6%;
        position: absolute;
        top: 8rem;
      }
