html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
.nav-link{
    font-size: 21px;
}
.aboveHeader{
  width: 100%;
  height: 3rem;
  position: fixed;
  background-color: #ded9ed;
}
.header{
 margin-top: 3rem;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 1px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    padding-top: 33px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .cancel{
    position:absolute;
    top:1rem;
    color: white;
    font-size: 24px;
    right: 1.5rem;
    cursor:pointer;
  }
  
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}
.students{
  color:red;
}
.nav-scroller .nav {
  color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}
.navbar-nav ul{
    flex: auto;
}

//photo the user
.photo {
  position: fixed;
  left: 2px;
  top: 2px;
  width: 4rem;
  background-color:rgb(131, 155, 214);
  margin-top: 0.5rem;
  /* Add the following styles */
  color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.photo::-webkit-file-upload-button {
  visibility: hidden;
}

.photo::before {
  content: "اختر صورة";
  color: rgb(19, 19, 19);
  display: inline-block;
  background: rgb(131, 155, 214);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

p.schoolName{
  // font-size: 2rem;
  font-weight: bold;
  // font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  position: fixed;
  top:12px;
  margin-left: 50%;
}
//when you vist the link it make it white
.white{
  color:white;
}