<div class="container" dir="rtl">
    <h2>تسجيل دخول</h2>
    <form action="" class="was-validated">
        <div class="form-group">
            <label for="uname">اسم المستخدم:</label>
            <input type="text" class="form-control" id="uname" placeholder="أدخل اسم المستخدم" name="uname" required>
            <div class="valid-feedback">شكراً.</div>
            <div class="invalid-feedback">رجاءً املأ هذا الحقل أولاً</div>
        </div>
        <div class="form-group">
            <label for="pwd">كلمة السر:</label>
            <input type="password" class="form-control" id="pwd" placeholder="أدخل كلمة السر" name="pswd" required>
            <div class="valid-feedback"> شكراً.</div>
            <div class="invalid-feedback">رجاءً املأ هذا الحقل أولاً</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>