.message {
    color: red;
    margin-top: 9rem;
    border: 1px solid green($color: #e4cbcb);
    background-color: #fff;
    text-align: center;
    width: 88%;
    margin-left: 6%;
    padding: 4px 0;
    top: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
    position: fixed;
}
.dashboard{
    position: fixed;
    top: 15rem;
}
.total .class {
    color: black;
    margin-top: 1rem;
    border: 1px solid green($color: #e4cbcb);
    background-color: #fff;
    text-align: center;
    width:28%;
    position: fixed;
    padding: 20px 2px;
    right: 2px;
    transition: transform 1s ease;
    margin-right: 6%;
}
.total .class:hover {
    transform: scale(1.08);
    border: 2px solid rgb(184, 210, 247);
    border-radius: 3px;
  }
.total .class i {
    position: relative;
    top: 20px;
}

.total .class .icon {
    position: relative;
    right: -1rem;
    width: 44px;
    color: green;
}

.total .students {
    color: black;
    margin-top: 1rem;
    border: 1px solid green($color: #e4cbcb);
    background-color: #fff;
    text-align: center;
    width:28%;
    position: fixed;
    padding: 20px 2px;
    right: 31%;
    margin-right: 5%;
    transition: transform 1s ease;
}
.total .students:hover {
    transform: scale(1.08);
    border: 2px solid rgb(184, 210, 247);
    border-radius: 3px;
  }

.total .students i {
    position: relative;
    top: 20px;
}

.total .students .icon {
    position: relative;
    right: -1rem;
    width: 44px;
    color: blue;
}

.total .writing {
    color: black;
    margin-top: 1rem;
    border: 1px solid green($color: #e4cbcb);
    background-color: #fff;
    text-align: center;
    width:28%;
    position: fixed;
    padding: 20px 2px;
    right: 61%;
    margin-right: 5%;
    transition: transform 1s ease;
}
.total .writing:hover {
    transform: scale(1.08);
    border: 2px solid rgb(184, 210, 247);
    border-radius: 3px;
  }

.total .writing i {
    position: relative;
    top: 20px;
}

.total .writing .icon {
    position: relative;
    right: -1rem;
    width: 44px;
    color: rgb(64, 226, 255);
}

// all money1 
.total .money1 {
    color: black;
    margin-top: 9rem;
    border: 1px solid green($color: #e4cbcb);
    background-color: #fff;
    text-align: center;
    width:28%;
    position: fixed;
    padding: 20px 2px;
    right: 2px;
    transition: transform 1s ease;
    margin-right: 6%;
}

.total .money1 i {
    position: relative;
    top: 20px;
}

.total .money1 .icon {
    position: relative;
    right: -1rem;
    width: 44px;
    color: rgb(204, 67, 67);
}

// money2
.total .money2 {
    color: black;
    margin-top: 9rem;
    border: 1px solid green($color: #e4cbcb);
    background-color: #fff;
    text-align: center;
    width:28%;
    position: fixed;
    padding: 20px 2px;
    right: 31%;
    margin-right: 5%;
    transition: transform 1s ease;
}

.total .money2 i {
    position: relative;
    top: 20px;
}

.total .money2 .icon {
    position: relative;
    right: -1rem;
    width: 44px;
    color: rgb(64, 226, 255);
}

//money3
.total .money3 {
    color: black;
    margin-top: 9rem;
    border: 1px solid green($color: #e4cbcb);
    background-color: #fff;
    text-align: center;
    width:28%;
    position: fixed;
    padding: 20px 2px;
    right: 61%;
    margin-right: 5%;
    transition: transform 1s ease;
}
.total .money3:hover {
    transform: scale(1.08);
    border: 2px solid rgb(184, 210, 247);
    border-radius: 3px;
  }
  .total .money2:hover {
    transform: scale(1.08);
    border: 2px solid rgb(184, 210, 247);
    border-radius: 3px;
  }
  .total .money1:hover {
    transform: scale(1.08);
    border: 2px solid rgb(184, 210, 247);
    border-radius: 3px;
  }
